{%  extends "school/base.html" %}


{%  block "content" %}
    <!DOCTYPE html>
<html>
<head>
    <title> Courses </title>
</head>
<body>
<form role="search">
    <input name="search" type="text" placeholder="Enter keyword here...">
    <button type="submit">Search</button>
</form>


{% if prof %}
<H1>{{ prof }}</H1>
{% endif %}
{% for item in courses %}
    {{ item.name }} ({{ item.st_date }})
    {% if request.user == item.user %}
       <a href="/courses/edit/{{ item.id }}/"> Edit </a>
   {% endif %}<br>
{% endfor %}

</body>
</html>

{%  endblock %}


