{%  extends "school/base.html" %}


{%  block "content" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% load static %}
<img src="{% static 'school/course.jpg'%}"/>

<p>Наши принципы
null
Фокус на результате
Мы обучаем вас новым технологиям и практике их использования. Готовим к работе в компании. И создаем условия для успешного трудоустройства
null
Внимание рынку
Мы мониторим рынок труда, актуальность технологий, инструментов и вакансии компаний. Обновляем учебные программы и вводим новые курсы
null
Эффективность
Мы отслеживаем ваш прогресс, оценивая результаты практических работ. Используем критерии качества действующих компаний
null
Ответственность
Сертификат получают только выпускники, завершившие курс успешно. Лучшим мы выдаем рекомендации за личной подписью преподавателя</p>
</body>
</html>

{%  endblock %}


